  /* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

@font-face {
  font-family: Futura BK BT;
  src: url(/font/FUTURA XBLK BT.TTF);
}

.artists .title .trans,
.news-section .title .trans {
  font-family: Futura BK BT;
}

@font-face {
	font-family: Noto Sans CJK TC_Bold;
	src: url(/fonts/NOTOSANSCJKTC-BOLD.OTF);
}

.single-news .paper h2,
.news-section .title {
  font-family: Noto Sans CJK TC_Bold;
  font-size: 42px;
}

@font-face {
	font-family: Noto Sans CJK TC_Light;
	src: url(/fonts/NOTOSANSCJKTC-LIGHT.OTF);
}

.single-news .paper p.text {
  font-family: Noto Sans CJK TC_Light;
}

@font-face {
	font-family: Noto Sans CJK TC_BOLD;
	src: url(/fonts/NOTOSANSCJKTC-BOLD.OTF);
}

.artists .title {
  font-family: Noto Sans CJK TC_BOLD;
}

@font-face {
	font-family: Noto Sans CJK TC_MEDIUM;
	src: url(/fonts/NOTOSANSCJKTC-MEDIUM.OTF);
}

.single-news .paper h3 {
  font-family: Noto Sans CJK TC_MEDIUM;
  font-size: 18px;
}

.artist-list .artists .flexbox .artist-card > div h3 {
  font-family: Noto Sans CJK TC_MEDIUM;
  font-size: 18pt;
}

@font-face {
	font-family: Noto Sans CJK TC_DEMILIGHTS;
	src: url(/fonts/NOTOSANSCJKTC-DEMILIGHT.OTF);
}

html, body {
  font-family: 'Microsoft JhengHei', 'Open Sans', sans-serif;
  background-color: #EEE;
}

:root {
  --darkBlue: #005689;
  --blue: #01B6B5;
  --yellow: #FFBC00;
  --lightBlue: #F1F8FD;
  --pink: #FF4081;
  --purple: #AB47BC;
  --SlideShow-DoubleNews-Percentage: 48%;
}

body {
  margin: 0;
  color: #121111;
  overflow-x: hidden;
  background-image: url('/mn_verb_bg.png');
}

/* Bootstrap Menu */
/* Bootstrap Menu ends here */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
}

a:focus,a:hover{color:#23527c;text-decoration:none;}
a:focus{outline:0;outline:0;outline-offset:0;}

.nav.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  z-index: 1000000;
}

.nav .container.full {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav .logo {
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--blue);
  font-size: 20px;
}

.nav .logo img {
  height: 60px;
}

.nav .container.responsive {
  display: none;
}

.nav .container.full ul {
  display: flex;
}

.nav .container.full ul li {
  list-style: none;
}

.nav .container.full ul.social-media li {
  text-align: right;
}

.nav .container.full ul.social-media li .fa {
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 10px;
  color: #EEE;
}

.nav .container ul.social-media li .fa-facebook-square:hover {
  color: var(--blue);
}

.nav .container ul.social-media li .fa-twitter-square:hover,
.nav .container ul.social-media li .fa-youtube-square:hover,
.nav .container ul.social-media li .fa-instagram:hover {
  color: var(--blue);
}

.nav .container ul.menu-items a li {
  padding: 25px 15px;
  position: relative;
  transition: all 0.15s ease;
  cursor: pointer;
  color: var(--blue);
}

.nav .container ul.menu-items li:hover a{
  transform: scale(1.1);
}

.nav .container ul.menu-items a li.active {
  color: #EEE;
  background-color: var(--blue);
}

/*
.nav .container ul.menu-items li.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  transition: all 0.15s ease;
}
*/
html, body{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
}
header, header *{
  padding:0px;
  margin:0px;
}

.root > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121111;
  background-repeat: no-repeat;
  background-size: 100%;
  /* Fixed the buggy contain property, instead it now accords to width*/
}

.root > .content > div {
  width: 100%;
}

.header {
  width: 100%;
}

.header .cover {
  height: 600px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  position: relative;
  margin-bottom: 30px;
}

.header .cover .cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .8));
}

.header .cover .cover-content {
  position: absolute;
  bottom: 80px;
  left: 15%;
  width: 300px;
  height: 200px;
  background-color: color(var(--blue) a(0.3));
  border: 2px solid var(--blue);
  box-sizing: border-box;
  color: #FFF;
  padding: 20px;
}

.header .cover .cover-content h3 {
  margin: 0;
  font-weight: bold;
}

.header .cover .cover-content h5 {
  margin: 0;
  font-weight: normal;
}

.header .cover .cover-content p {
  margin: 10px 0;
  font-size: 14px;
}

.header .cover .cover-content h4 {
  margin: 0;
  font-weight: normal;
  color: var(--blue);
  font-size: 16px;
}
/*
.header .cover .title {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 188, 0, 0.8), rgba(255, 64, 129, 0.8));
  display: flex;
  align-items: center;
  padding-left: 50px;
  box-sizing: border-box;
}

.header .cover .title h2 {
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
}
*/
.header .news {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .news .left-subhead {
  height: 220px;
  width: 100%;
}

.slick-slider.ads {
  margin-top: 20px;
  width: 62%;
}

.iframe {
  margin-top: 20px;
  width: 33%;
}

.admin-cms {
  width: 100%;
}

.admin-new-article {
  width: 100%;
}

.news-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/mn_verb_bg.png');
  background-size: cover;
}

.h-card {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 220px;
  width: 560px;
  margin: 20px 0;
  background-color: #FFF;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  transition: all 0.15s ease;
}

.h-card:hover {
  box-shadow: 0 0 9px 0 rgba(0,0,0,.3);
}

.h-card .pic {
  height: 100%;
  width: 220px;
}

.h-card .card-content {
  width: 360px;
  box-sizing: border-box;
  padding: 0 20px;
}

.h-card .card-content h3 {
  color: var(--blue);
  margin: 0;
}

.h-card .card-content h5 {
  font-weight: normal;
  margin: 5px 0;
  color: #AAA;
}

.h-card .card-content p {
  margin: 10px 0;
  font-size: 15px;
}

.h-card .card-content h4 {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  color: #AAA;
}

.s-card {
  margin: 20px 0;
  width: 220px;
  height: 220px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-card .pic {
  width: 220px;
  height: 220px;
  position: relative;
}

.s-card .pic .pic-tag {
  position: absolute;
  background-color: #AB47BC;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
}

.s-card .pic .pic-content {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 20px;
  background: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s-card .pic .pic-content h3 {
  color: #FFF;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.artists {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists .title {
  color: var(--blue);
  text-align: center;
  font-size: 42px;
  letter-spacing: 3px;
  margin-top: 50px;
}

.artists .title .trans {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
}

.artists .artists-boxes {
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.artists .artists-boxes .artist-box {
  width: 216px;
  height: 216px;
  position: relative;
}

.artists .artists-boxes .artist-box p {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: color(var(--blue) a(0.7));
  color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.artists .artists-boxes .artist-box:hover p {
  opacity: 1;
}

.artists .artists-boxes .more-box {
  width: 180px;
  height: 180px;
  background-color: color(var(--blue) a(0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #EEE;
  display: none;
}

.newslist {
  width: 1080px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.newslist .title {
  margin: 50px 0;
  color: var(--blue);
  font-size: 38px;
  letter-spacing: 3px;
  text-align: center;
}

.newslist .title .trans {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
}

.newslist .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.v-card {
  width: 30%;
  height: 500px;
  background-color: #FFF;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  margin-bottom: 15px;
}

.v-card .pic {
  height: 230px;
  position: relative;
}

.v-card .pic .pic-tag {
  position: absolute;
  width: 80px;
  height: 30px;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  color: #FFF;
  font-size: 15px;
}

.v-card .card-content {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.v-card .card-content h3 {
  margin: 10px 0;
  color: var(--blue);
  font-weight: bold;
}

.v-card .card-content p {
  color: #888;
  margin: 5px 0;
  font-size: 16px;
}

.v-card .card-content .author {
  margin-top: auto;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.v-card .card-content .author::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #EEE;
}

.v-card .card-content .author .author-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.v-card .card-content .author .author-name {
  font-size: 14px;
  margin-left: 10px;
  color: #888;
}

.v-card .card-content .author .author-name span {
  display: block;
  font-size: 12px;
  color: #AAA;
}

/* Large V Card */

.l-v-card {
  width: 48%;
  height: 500px;
  position: relative;
  background-color: #FFF;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  margin-bottom: 30px;
}

.l-v-card .pic {
  height: 230px;
  position: relative;
  top: 120px;
}

.l-v-card .pic-tag {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  color: #FFF;
  font-size: 15px;
}

.l-v-card .card-content {
  height: 100%;
  width: 100%;
}

.l-v-card .card-content .title-wrapper {
  position: absolute;
  width: 100%;
  top: 60px;
}

.l-v-card a {

}

.l-v-card h3 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: var(--blue);
  font-weight: bold;
}

.l-v-card .time {
  width: 100%;
  text-align: center;
  color: lightgrey;
  position: absolute;
  top: 33px;
  font-size: 14px;
  color: #888;
}

.l-v-card .excerpt {
  position: absolute;
  top: 350px;
  padding: 0 20px;
  color: #888;
  margin-top: 20px;
}

.l-v-card .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
}

.l-v-card .card-footer p {
  padding-left: 10px;
  color: var(--blue);
  margin-bottom: 20px;
}

.artist-list .artists .flexbox .artist-card > div h3 {
  font-weight: bold;
}

/* Small V Card */

.s-v-card {
  width: 23%;
  height: 450px;
  background-color: #FFF;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  margin: 15px 0;
}

.s-v-card .pic {
  height: 210px;
  position: relative;
}

.s-v-card .pic .pic-tag {
  position: absolute;
  width: 80px;
  height: 30px;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  color: #FFF;
  font-size: 15px;
}

.s-v-card .card-content {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
}

.s-v-card .card-content h3 {
  margin: 10px 0;
  color: var(--blue);
  font-weight: bold;
}

.s-v-card .card-content p {
  color: #888;
  margin: 5px 0;
  font-size: 15px;
}

.s-v-card .card-content .author {
  margin-top: auto;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.s-v-card .card-content .author::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #EEE;
}

.s-v-card .card-content .author .author-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.s-v-card .card-content .author .author-name {
  font-size: 14px;
  margin-left: 10px;
  color: #888;
}

.s-v-card .card-content .author .author-name span {
  display: block;
  font-size: 12px;
  color: #AAA;
}

.see-more {
  width: 150px;
  height: 40px;
  background-color: var(--blue);
  color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.15s ease;
}

.see-more.art {
  margin-top: 20px;
}

.see-more:hover {
  opacity: 0.8;
}

.news-section .title {
  color: var(--blue);
  text-align: center;
  font-size: 42px;
  letter-spacing: 3px;
  margin-top: 50px;
}

.news-section .title .trans {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
}

.service-boxes {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  max-width: 100%;
  margin-bottom: 80px;
}

.service-boxes .service-card {
  width: 48%;
  height: 200px;
  background-color: #FFF;
  display: flex;
}

.service-boxes .service-card .service-pic {
  width: 40%;
  height: 100%;
  margin: 0;
}

.service-boxes .service-card .service-right {
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-boxes .service-card .service-right h3 {
  font-size: 20px;
  color: var(--blue);
  margin-bottom: 0;
}

.service-boxes .service-card .service-right p {
  color: #666;
  font-size: 14px;
}

.service-boxes .service-card .service-right p.number {
  margin-top: 5px;
}

.service-boxes .service-card .service-right p.link {
  color: var(--blue);
}

.await {
  width: 100%;
  display: flex;
}

.await img {
  width: 80px;
  margin: 0 auto 50px;
}

.footer {
  height: 70px;
  width: 100%;
  background-color: #FFF;
}

.footer .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170px;
}

.footer .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .navigation ul li {
  list-style: none;
  padding: 0 15px;
  color: #BBB;
  transition: all 0.15s ease;
  cursor: pointer;
}

.footer .navigation ul li:hover {
  color: var(--pink);
}

.footer .navigation ul li:not(:last-child) {
  border-right: 1px solid #DDD;
}

.footer .navigation .social i {
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

.footer .copy-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #FFF;
  background: var(--blue);
}

/* Ken Slider */

.SlideshowWrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 35%;
  height: var(--SlideShow-DoubleNews-Percentage);
}

.slideshow-with-indicator {
  height: 100%;
  position: relative;
}

/*Slideshow Related Start */
.slideshow {
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}


.SlideIndicator {
  width: 100%;
  cursor: pointer;
  bottom: 20px;
  position: absolute;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #b2f3ff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.dot.active, .dot:hover {
  background-color: #25c2dd;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.individual-slide {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 70px;
  color: #ffffff;
}

.individual-slide img {
  width: 100%;
  height: 100%;
}

.slide-type-desc {
  position: absolute;
  top: 0px;
  left: 0px;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 100;
}

.slide-title {
  font-size: 30px;
}

.slide-content {
  font-size: 16px;
  line-height: 1.2em;
  max-height: 2.4em;
  margin-left: 10px;
}

.artist-list .artists .trans,
.newslist .title .trans {
  margin-top: 10px;
}

/* for admin */

.list-container form ~ ul {
  padding: 0;
  width: 80%;
  transition: all 0.3s ease;
}

.list-container form.not-logged-in ~ ul {
  margin: 0;
}

.list-container form.logged-in ~ ul {
  margin: 60px 10%;
}

.list-container ul li {
  position: relative;
  list-style: none;
  margin: 15px;
  width: 250px;
  height: 200px;
  background-color: var(--lightBlue);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.4);
}

.list-container ul li:hover {
  transform: scale(1.1);
}

.list-container ul li h3,
.list-container ul li p {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
}

.list-container ul li h3 {
  color: var(--darkBlue);
  margin: 0 5px;
}

.list-container ul li p {
  color: var(--blue);
}

.list-container ul li span {
  transform: rotate(0);
  transition: all 0.3s ease;
  font-size: 34px;
  color: var(--yellow);
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.list-container ul li:hover span {
  transform: rotate(45deg);
  opacity: 1;
}

.list-container ul li .btn {
  background-color: #CCC;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  border-width: 0;
  box-sizing: 2px 1px 3px -1px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
}

.list-container ul li .btn:hover {
  opacity: 0.8;
  background-color: var(--yellow);
}

.list-container ul li.done {
  opacity: 0.3
}

.artist-list-wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-list {
  width: 1080px;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 80px;
}

h5.path {
  color: #EEE;
}

.artist-list .artists .title {
  margin: 0;
}

.artist-list .artists .trans {
  color: var(--blue);
}

.artist-list .artists .flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0 70px;
}

.artist-list .artists .flexbox .artist-card {
  width: 300px;
  height: 430px;
  position: relative;
  transition: all 0.3s ease;
}

.artist-list .artists .flexbox .artist-card.product,
.artist-list .artists .flexbox .artist-card.dummy {
  width: 20vw;
  height: 20vw;
  margin: 0;
}

.artist-list .artists .flexbox .artist-card.dummy {
  width: 300px;
  height: 430px;
}

.artist-list .artists .flexbox .artist-card:hover {
  opacity: 0.8;
}

.artist-list .artists .flexbox a {
  margin: 20px 0;
}

.artist-list .artists .flexbox .artist-card > div {
  position: absolute;
  bottom: 0;
  height: 180px;
  background-color: color(var(--blue) a(0.8));
  color: #EEE;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.artist-list .artists .flexbox .artist-card.product > div {
  height: 50px;
  width: 100%;
  justify-content: center;
}

.artist-list .artists .flexbox .artist-card.product > div h3 {
  font-size: 18px;
}

.artist-list .artists .flexbox .artist-card > div h3 {
  margin: 5px;
}

.artist-list .artists .flexbox .artist-card > div p {
  margin: 5px;
  font-size: 14px;
}



.single-artist {
  min-height: 100vh;
  width: 100%;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  box-sizing: border-box;
}

.single-artist .head {
  height: 570px;
  width: 100%;
  position: relative;
  background-position: top 20%;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-artist .head .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,.6) 60%, color(var(--blue) a(0.5)));
  z-index: 2;
}

.single-artist .head .info {
  width: 960px;
  padding-top: 80px;
  z-index: 3;
}

.single-artist .head .info .profile {
  display: flex;
  margin: 50px 0 0;
}

.single-artist .head .info .profile .left {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.single-artist .head .info .profile .right {
  margin: 0 40px;
  color: #FFF;
}

.single-artist .head .info .profile .right h3 {
  margin: 15px 0 0;
  font-size: 36px;
}

.single-artist .head .info .profile .right p {
  margin: 0 0 15px;
  font-size: 16px;
}

.single-artist .fa {
  font-size: 18px;
  margin-left: 10px;
}

.single-artist .paper .fa {
  color: #666;
  margin-bottom: 30px;
}

.single-artist .fa:hover {
  color: var(--blue);
}

.single-service .fa {
  color: #666;
  margin: 0 5px 0 10px;
  font-size: 20px;
}

.single-service .fa:hover {
  color: var(--blue);
}

.about .fa {
  color: #666;
  margin: 0 5px 0 10px;
  font-size: 20px;
}

.about .fa:hover {
  color: var(--blue);
}

.single-artist .head .info .profile .right .social {
  position: relative;
  left: -10px;
}

.single-artist .head .info .profile .right .social img {
  width: 30px;
}

.single-artist .head .info .box {
  width: 300px;
  height: 200px;
  background-color: color(var(--blue) a(0.2));
  border: 2px solid var(--blue);
  margin: 40px 0 20px;
  box-sizing: border-box;
  padding: 5px 20px;
}

.single-artist .head .info .box p {
  font-size: 14px;
  margin: 5px 0;
  color: #EEE;
}

.single-artist .main {
  min-height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-artist .main .paper {
  width: 960px;
  min-height: 800px;
  background-color: #EEE;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  margin: 60px 0;
  padding: 0 40px;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 30px;
}

.single-artist .main .paper h4,
.single-artist .main .outer h4 {
  color: var(--blue);
  font-size: 20px;
  margin-bottom: 10px;
}

.single-artist .main .outer h4 {
  margin-top: 0;
}

.single-artist .main .paper .line-thru,
.single-artist .main .outer .line-thru {
  width: 50px;
  height: 2px;
  background-color: var(--blue);
  margin: 5px 0 30px;
}

.single-artist .main .paper .cover-pic {
  height: 450px;
  width: 100%;
}

.single-artist .main .paper p {
  font-size: 14px;
  margin: 40px 0 20px;
  line-height: 1.5;
  color: #666;
}

.single-artist .main .paper .social {
  position: relative;
  left: -10px;
}

.single-artist .main .paper .social img {
  width: 30px;
}

.slick-next, .slick-prev {
  color: var(--blue) !important;
}

.single-artist .main .paper .artist-news {
  width: 200px;
  height: 200px;
}

.single-artist .main .paper .artist-news .pic {
  width: 95%;
  height: 200px;
  margin: 0 2.5%;
  position: relative;
  transition: all 0.3s ease;
}

.single-artist .main .paper .artist-news .pic:hover {
  opacity: 0.8;
}

.single-artist .main .paper .artist-news .pic .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent 50%, color(var(--blue) a(0.8)));
}

.single-artist .main .paper .artist-news .pic h3 {
  position: absolute;
  bottom: 3px;
  left: 8px;
  color: #FFF;
  font-size: 16px;
  line-height: 1.2;
}

.header .slick-next:before, .header .slick-prev:before {
  color: #FFF !important;
  font-size: 24px !important;
}

.slick-next:before, .slick-prev:before {
  color: var(--blue) !important;
  font-size: 24px !important;
}

.slick-dots {
  bottom: 50px !important;
}

.slick-dots li.slick-active button:before {
  color: var(--blue) !important;
}

.slick-dots li button:before {
  color: #FFF !important;
}

.single-artist .main .outer {
  margin-bottom: 50px;
}

.single-artist .main .outer .artists-boxes {
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.single-artist .main .outer .artists-boxes .artist-box {
  width: 160px;
  height: 160px;
  position: relative;
}

.single-artist .main .outer .artists-boxes .artist-box p {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: color(var(--blue) a(0.7));
  color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.single-artist .main .outer .artists-boxes .artist-box:hover p {
  opacity: 1;
}

.single-artist .main .outer .artists-boxes .more-box {
  width: 160px;
  height: 160px;
  background-color: color(var(--blue) a(0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #EEE;
}

.news-outer {
  min-height: 100vh;
  width: 100%;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-page {
  width: 1080px;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 80px;
}

.news-page .newslist h2 {
  margin: 0 0 10px;
}

.newslist ul.filters {
  display: flex;
  margin-bottom: 50px;
}

.newslist ul.filters.home {
  margin-top: -30px;
  margin-bottom: 70px;
}

.newslist ul.filters li {
  color: #AAA;
  margin: 0 30px;
  list-style: none;
  cursor: pointer;
  position: relative;
  transition: all 0.15s ease;
}

.newslist ul.filters li:hover {
  color: var(--blue);
}

.newslist ul.filters li:not(:last-child)::after {
  position: absolute;
  top: 0;
  right: -30px;
  content: "/";
  color: #AAA;
}

ul.page-num {
  display: flex;
  margin-top: 60px;
}

ul.page-num li {
  margin: 0 3px;
  list-style: none;
  color: #CCC;
}

ul.page-num li.selected {
  color: var(--blue);
}

.single-news-wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-news {
  width: 1080px;
  max-width: 100%;
  padding-top: 80px;
  box-sizing: border-box;
}

.single-news .paper {
  width: 100%;
  min-height: 700px;
  background-color: #FFF;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  margin-bottom: 70px;
  padding: 10px 40px;
  box-sizing: border-box;
  position: relative;
}

.single-news .paper .pic-tag {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 10px;
  color: #EEE;
  font-size: 14px;
}

.single-news .paper .dismiss {
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--blue);
  font-size: 28px;
  transform: rotate(45deg);
}

.single-news .paper h2 {
  color: var(--blue);
  margin: 20px 0 10px;
}

.single-news .paper p.time {
  color: #AAA;
  font-size: 12px;
  margin: 0 0 30px;
}

.single-news .paper .cover {
  width: 100%;
  height: 500px;
}

.single-news .paper p.text {
  font-size: 14px;
  margin: 40px 0 20px;
  line-height: 1.5;
  color: #666;
}

.single-news .paper .social {
  position: relative;
  left: -10px;
}

.single-news .paper .social img {
  width: 30px;
}

.single-news .paper h3 {
  color: var(--blue);
  font-size: 22px;
  margin: 40px 0 5px;
}

.single-news .paper .line-thru {
  width: 50px;
  height: 2px;
  background-color: var(--blue);
  margin: 10px 0 30px;
}

.single-news .paper ul {
  display: flex;
  padding: 0;
  margin: 0 0 60px;
}

.single-news .paper ul li.recent {
  margin-right: 20px;
  width: 180px;
  height: 180px;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  transition: all 0.15s ease;
}

.single-news .paper ul li.recent:hover {
  transform: scale(1.05);
}

.single-news .paper ul li.recent h4 {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: color(var(--blue) a(0.7));
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: normal;
  color: #EEE;
}

.about-wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-wrap .about {
  padding-top: 80px;
  width: 1080px;
  max-width: 100%;
}

.about-wrap .about .paper {
  width: 100%;
  min-height: 600px;
  background-color: color(#FFF a(0.9));
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  margin-bottom: 70px;
  padding: 30px 40px;
  box-sizing: border-box;
}

/*.about-wrap .about .paper img {
  width: 120px;
}*/

.about-wrap .about .paper iframe {
  margin: 40px 0 20px;
  position: relative;
}

.about-wrap .about .paper p {
  margin: 0 0 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #666;
}

.about-wrap .about .paper h3 {
  color: var(--blue);
  font-size: 22px;
  margin: 40px 0 5px;
}

.about-wrap .about .paper .line-thru {
  width: 50px;
  height: 2px;
  background-color: var(--blue);
  margin: 10px 0 20px;
}

.about-wrap .about .paper .social {
  position: relative;
  left: -10px;
}

.about-wrap .about .paper .social img {
  width: 30px;
}

.about-wrap .about .paper .company {
  display: flex;
}

.about-wrap .about .paper .company img {
  height: 180px;
}

.about-wrap .about .paper .company h4 {
  margin-left: 20px;
  color: var(--blue);
}

.about-wrap .about .paper .company h4 div {
  font-size: 14px;
  font-weight: normal;
  width: 450px;
  margin-top: 10px;
  color: #666;
  line-height: 20px;
}

.about-wrap .about .paper ul {
  display: flex;
  padding: 0;
  margin-bottom: 50px;
}

.about-wrap .about .paper li {
  list-style: none;
  margin-right: 10px;
  width: 180px;
  height: 180px;
  position: relative;
  transition: all 0.15s ease;
}

.about-wrap .about .paper li:hover {
  transform: scale(1.05);
}

.about-wrap .about .paper li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27px;
  font-size: 15px;
  padding-left: 7px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: color(var(--blue) a(0.7));
  margin: 0;
  display: flex;
  align-items: center;
  color: #EEE;
  font-weight: normal;
}

.contact-form-wrapper .overlay-messagebox {
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 1000001;
  position: fixed;
}

.contact-form-wrapper .overlay-messagebox .overlay {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.85;
}

.contact-form-wrapper .overlay-messagebox .void-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-wrapper .overlay-messagebox .messagebox{
  width: 368pt;
  height: 216pt;
  background-color: color(#2aa3a2 a(0.2));
  border: solid #2aa3a2 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.contact-form-wrapper .overlay-messagebox .messagebox h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-form-wrapper .overlay-messagebox .messagebox p {
  font-size: 18px;
}

.contact-form-wrapper .overlay-messagebox .messagebox button{
  background-color: var(--blue);
  color: white;
  font-size: 20px;
  padding: 15px 75px;
  border-width: 0;
  cursor: pointer;
  margin-top: 15px;
}

.contact-form-wrapper .banner {
  width: 100%;
  height: 400px;
  margin-top: 72px;
  background-image: url('/image_map.png');
  background-size: cover;
  position: relative;
}

.contact-form-wrapper .banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, color(#282828 a(1)));
}

.contact-form-wrapper .banner .little-square{
  position: absolute;
  left: 15%;
  bottom: 50px;
  width: 260px;
  height: 200px;
  border: solid var(--blue) 2px;
}

.contact-form-wrapper .banner .little-square .bg-color{
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  opacity: 0.4;
  padding: 20px 10px;
  box-sizing: border-box;
}

.contact-form-wrapper .banner .little-square img{
  width: 70px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.contact-form-wrapper .banner .little-square .content{
  position: absolute;
  top: 75px;
  left: 10px;
  color: white;
}

.contact-form-wrapper .banner .little-square .content h5{
  margin: 5px;
}

.contact-form-wrapper .banner .little-square .content p{
  font-size: 10px;
}

.contact-form {
  padding-top: 30px;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  width: 100vw;
  min-height: 600px;
  padding-bottom: 70px;
}

.contact-form form{
  position: relative;
  margin-top: 50px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  box-shadow: none;
  display: block;
}

.contact-form input{
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  color: white;
  background-color: var(--darkBlue);
  border: solid var(--blue) 1px;
  opacity: 0.7;
}

.contact-form textarea{
  text-align: left;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  outline: 0;
  box-sizing: border-box;
  background-color: var(--darkBlue);
  border: solid var(--blue) 1px;
  opacity: 0.7;
  font-size: 16px;
  width: 100%;
  height: 100px;
  line-height: 1.5;
}

.contact-form .input-name {
  display: inline-flex;
  width: 48%;
  margin-right: 4%;
}

.contact-form .input-email {
  display: inline-block;
  width: 48%;
}

.contact-form .input-title {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}

.contact-form {
  padding-bottom: 100px;
}

.contact-form .input-content {
  display: block;
  opacity: 0.7;
  height: 150px;
}

.contact-form .input-button {
  opacity: 1;
  color: white;
  background-color: var(--blue);
  font-size: 18px;
  padding: 15px 80px;
  cursor: pointer;
  margin: 30px auto 90px;
}

.contact-form-wrapper .form-title h1 {
  margin: 30px 0 10px;
  width: 100%;
  text-align: center;
  color: var(--blue);
}

.contact-form-wrapper .form-title h4 {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  color: var(--blue);
}

.contact-form-wrapper .form-subtitle p {
  width: 100%;
  text-align: center;
  color: white;
}

.newslist ul.filters li.active a {
  color: var(--blue);
  font-weight: bold;
}

.map {
  width: 100vw;
  height: 350px;
}

.sub-footer {
  width: 100vw;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-footer .footer-wrap {
  width: 1080px;
  max-width: 100%;
  position: relative;
  display: flex;
}

.sub-footer .go-to-top {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  cursor: pointer;
}

.sub-footer .footer-wrap > div {
  margin: 0 10%;
}

.sub-footer .footer-wrap div h3 {
  color: var(--blue);
  font-size: 20px;
  font-weight: normal;
}

.sub-footer .footer-wrap div .line-thru {
  width: 50px;
  height: 2px;
  background-color: var(--blue);
  margin: 5px 0 15px;
}

.sub-footer .footer-wrap div h4 {
  color: #EEE;
  font-size: 18px;
  margin: 5px 0;
}

.sub-footer .footer-wrap div p {
  color: #EEE;
  font-size: 14px;
}

.sub-footer .footer-wrap div img {
  width: 30px;
}

.service-wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-wrap .services {
  width: 1080px;
  max-width: 100%;
  padding-top: 80px;
  box-sizing: border-box;
}

.service-wrap .services .title {
  color: var(--blue);
  text-align: center;
  font-size: 38px;
  letter-spacing: 3px;
}

.service-wrap .services .title .trans {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
}

.service-wrap .services .service-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.service-wrap .services .service-list a {
  margin: 0 20px;
}

.service-wrap .services .service-list .single-service {
  width: 320px;
  height: 450px;
  position: relative;
}

.service-wrap .services .service-list .single-service .box {
  background-color: color(var(--blue) a(0.7));
  margin: 0;
  color: #EEE;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 15px;
}

.service-wrap .services .service-list .single-service .box h3 {
  margin-bottom: 0;
}

.service-wrap .services .service-list .single-service .box p {
  font-size: 14px;
  margin: 5px 0;
}

.service-wrap .services .service-list .single-service .box h4 {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
}

.service-wrap .services .link-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 70px;
}

.service-wrap .services .link-list li {
  list-style: none;
  margin: 15px 20px;
  width: 320px;
}

.service-wrap .services .link-list li img {
  width: 100%;
}

.service-wrap .services .link-list li p {
  text-align: center;
  width: 100%;
  margin: 5px 0;
  color: #EEE;
  font-size: 14px;
}

.single-service-wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url('/mn_verb_bg.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-service {
  width: 1080px;
  max-width: 100%;
  padding-top: 80px;
  box-sizing: border-box;
}

.single-service .paper {
  width: 100%;
  min-height: 700px;
  background-color: color(#FFF a(0.9));
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  margin-bottom: 70px;
  padding: 10px 40px 30px;
  box-sizing: border-box;
}

.single-service .paper h2 {
  color: var(--blue);
  margin: 20px 0 10px;
}

.single-service .paper .cover {
  width: 100%;
  height: 500px;
  margin: 20px 0;
}

.single-service .paper p {
  color: #666;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1.5
}

.single-service .paper h3 {
  color: var(--blue);
  font-size: 22px;
  margin: 40px 0 5px;
}

.single-service .paper .line-thru {
  width: 50px;
  height: 2px;
  background-color: var(--blue);
  margin: 10px 0 20px;
}

.single-service .paper .environment {
}

.single-service .paper .environment .img {
  width: 95%;
  margin: 0 auto;
  height: 150px;
  transition: all 0.3s ease;
}

.single-service .paper .environment .img:hover {
  transform: scale(1.05);
}

.single-service .paper .social {
  position: relative;
  left: -10px;
}

.single-service .paper .social img {
  width: 30px;
}

.single-service .paper .company {
  display: flex;
}

.single-service .paper .company img {
  height: 180px;
}

.single-service .paper .company h4 {
  margin-left: 20px;
  color: var(--blue);
}

.single-service .paper .company h4 div {
  font-size: 14px;
  font-weight: normal;
  width: 450px;
  margin-top: 10px;
  color: #666;
  line-height: 20px;
}

@media (max-width: 1080px) {
  .nav .container {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
  }

  .header .news {
    width: 100%;
  }

  .artists {
    width: 100%;
  }

  .newslist {
    width: 90%;
    margin: 0 auto;
  }

  .s-v-card {
    height: 460px;
  }

  .s-v-card .card-content h3 {
    font-size: 20px;
  }

  .service-boxes {
    width: 100%;
  }

  .artist-list {
    width: 95%;
  }

  .news-page {
    width: 100%;
  }

  .single-news {
    width: 100%;
  }

  .about-wrap .about {
    width: 100%;
  }

  .sub-footer .footer-wrap {
    width: 100%;
  }

  .service-wrap .services {
    width: 100%;
  }

  .single-service {
    width: 100%;
  }

  .single-service .paper {
    width: 95%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  .path {
    opacity: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .service-wrap .services .service-list {
    padding: 0 5%;
    justify-content: center;
  }

  .service-wrap .services .link-list {
    padding: 0 5%;
    justify-content: center;
  }

  .service-wrap .services .link-list li {
    width: 25%;
  }

  .about-wrap .about .paper {
    width: 95%;
    margin: 0 auto 20px;
  }

  .single-news .paper {
    width: 95%;
    margin: 0 auto 20px;
  }

  .header .cover {
    height: 550px;
  }

  .header .cover .cover-content {
    left: 10%;
  }

  .header .news {
    display: none;
  }

  .artists .title {
    margin-top: 30px;
  }

  .artists .artists-boxes {
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .artists .artists-boxes .artist-box {
    margin: 5px;
    width: 25vw;
    height: 25vw;
  }

  .artists .artists-boxes .more-box {
    margin: 5px;
    width: 25vw;
    height: 25vw;
  }

  .service-boxes {
    display: none;
  }

  .news-section .title.service {
    display: none;
  }

  .see-more {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 840px) {
  .nav .container ul.social-media {
    display: none;
  }

  .s-v-card {
    height: 440px;
  }

  .s-v-card .card-content h3 {
    font-size: 18px;
  }

  .s-v-card .card-content p {
    font-size: 14px;
  }

  .s-v-card .pic .pic-tag {
    font-size: 14px;
    width: 40%;
  }

  .s-v-card .card-content .author {
    display: none;
  }

  .service-wrap .services .service-list {
    justify-content: center;
    padding: 0;
  }

  .service-wrap .services .link-list {
    justify-content: center;
    padding: 0;
  }

  .sub-footer .footer-wrap {
    padding: 0 5%;
    box-sizing: border-box;
  }

  .sub-footer .footer-wrap > div {
    margin: 0 5%;
  }

  .footer .copy-right .toHide {
    display: none;
  }

  .single-service .paper,
  .about-wrap .about .paper {
    width: 95%;
    margin: 0 auto;
    padding: 15px 20px;
    margin-bottom: 30px;
  }

  .single-service .paper .cover {
    height: 350px;
  }

  .service-wrap .services .link-list li {
    width: 320px;
  }

  .single-service .paper .company h4 div {
    width: auto;
  }

  .about-wrap .about .paper ul {
    flex-wrap: wrap;
    width: 100%;
  }

  .about-wrap .about .paper ul li {
    width: 20vw;
    height: 20vw;
    margin-bottom: 10px;
  }

  .single-artist .head {

  }

  .single-artist .head .info {
    width: 100%;
    padding-left: 10%;
    box-sizing: border-box;
  }

  .single-artist .main .outer .artists-boxes {
    flex-wrap: wrap;
    width: 100%;
  }

  .single-artist .main .outer .artists-boxes .artist-box {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .single-artist .main .outer .artists-boxes .more-box {
    display: none;
  }

  .single-artist .main .outer {
    width: 95%;
    margin: 0 auto;
  }

  .single-artist .main .paper {
    width: 95%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 460px) {
  .artist-list .title, .service-wrap .services .title {
    font-size: 34px;
  }

  .artist-list .flexbox {
    display: block;
  }

  .artist-list .artists .flexbox .artist-card {
    width: 75vw;
    height: 75vw;
    min-height: 400px;
  }

  .artist-list .artists .flexbox .artist-card > div {

  }

  .artist-list .artists .flexbox .artist-card.dummy {
    display: none;
  }

  .single-artist .head {
    height: 400px;
  }

  .single-artist .head .info {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 2.5%;
  }

  .single-artist .head .info .box {
    display: none;
  }

  .single-artist .main {
    min-height: auto;
  }

  .single-artist .main .paper {
    width: 95%;
    padding: 0 15px 40px;
    margin-top: 15px;
    border-radius: 3px;
  }

  .single-artist .main .paper .cover-pic {
    height: 200px;
  }

  .single-artist .main .paper h4, .single-artist .main .outer h4 {
    font-size: 18px;
  }

  .single-artist .main .outer {
    display: none;
  }

  .service-wrap .services .service-list {
    justify-content: center;
  }

  .service-wrap .services .service-list .single-service {
    margin-bottom: 15px;
  }

  .sub-footer .footer-wrap {
    padding: 0 5%;
    box-sizing: border-box;
  }

  .sub-footer .footer-wrap > div {
    margin: 0;
  }

  .single-service .paper {
    width: 95%;
  }

  .single-service .paper h2 {
    font-size: 20px;
  }

  .single-service .paper h3 {
    font-size: 18px;
  }

  .single-service .paper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .about-wrap .about .paper,
  .single-news .paper {
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .about-wrap .about .paper iframe {
    display: none;
  }

  .about-wrap .about .paper p {
    margin-top: 10px;
  }

  .single-service .paper .cover {
    height: 200px;
  }

  .single-service .paper .environment img:not(:first-child) {
    display: none;
  }

  .single-service .paper .environment img {
    width: 65%;
  }

  .single-service .paper .company,
  .about-wrap .about .paper .company {
    flex-direction: column;
  }

  .single-service .paper .company h4,
  .about-wrap .about .paper .company h4 {
    margin: 15px 0;
  }

  .about-wrap .about .paper .company img {
    height: 120px;
    width: 120px;
  }

  .about-wrap .about .paper .company h4 div {
    width: auto;
  }

  .service-wrap .services .link-list li {
    width: 320px;
  }

  .about-wrap .about .paper ul {
    flex-wrap: wrap;
    width: 100%;
  }

  .about-wrap .about .paper ul li {
    width: 35vw;
    height: 35vw;
    margin-bottom: 10px;
  }

  .contact-form-wrapper .form-title h1 {
    margin-bottom: 5px;
  }

  .contact-form-wrapper .form-subtitle {
    display: none;
  }

  .contact-form form {
    width: 80%;
    margin-top: 20px;
  }

  .contact-form .input-name,
  .contact-form .input-email {
    width: 100%;
    margin-top: 20px;
  }

  .contact-form .input-button {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav .container.full {
    display: none;
  }

  .nav .container.responsive {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .nav .container.responsive .navbar {
    height: 100%;
    width: 100%;
  }

  .navbar {
    margin-bottom: 0;
    border: none;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
  }

  .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .navbar-collapse.in {
    background-color: #222;
  }

  .navbar-brand {
    padding: 10px 15px;
  }

  .nav .container.responsive .navbar .container {
    padding: 0;
    height: 100%;
  }

  .nav .container.responsive .navbar .container img {
    height: 40px;
    margin-top: 5px;
  }

  .nav>li {
    font-size: 15px;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
  }

  .single-news .paper ul {
    width: 100%;
    flex-wrap: wrap;
  }

  .single-news .paper h2 {
    font-size: 20px;
  }

  .single-news .paper .pic-tag {
    margin-top: 10px;
  }

  .single-news .paper .cover {
    height: 250px;
  }

  .single-news .paper ul li.recent {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 40vw;
    height: 40vw;
  }

  .single-news .paper ul li.recent h4 {

  }

  .newslist ul.filters {
  }

  .newslist ul.filters li {
    margin: 0 10px;
  }

  .newslist ul.filters li:not(:last-child)::after {
    display: none;
  }

  .l-v-card, .v-card, .s-v-card {
    width: 95%;
    margin: 8px auto;
  }

  .l-v-card:first-child {
    margin-top: -5px;
  }

  .s-v-card .card-content .author {
    display: flex;
    margin-bottom: 10px;
  }

  .artists .artists-boxes {
    width: 95%;
    margin: 0 auto;
  }

  .artists .artists-boxes .artist-box,
  .artists .artists-boxes .more-box {
    width: 40vw;
    height: 40vw;
  }

  .artists .title {
    font-size: 34px;
    margin-bottom: 25px;
  }

  .header .cover {
    height: 450px;
  }

  .header .cover .cover-content {
    left: 5%;
    bottom: 5%;
    width: 250px;
  }

  .header .cover .cover-content h3 {
    font-size: 20px;
  }
}

.service-wrap .services .title {
  margin-bottom: 30px;
}

.newslist ul.filters {
  padding: 0;
}

ul.page-num {
  padding: 0;
}

.admin {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #EEE;
}

.admin .menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 20%;
  background-color: #66615B;
}

.admin .menu.disable {
  display: none;
}

.admin .menu img {
  margin: 0 auto;
  margin: 50px calc(50% - 60px);
  width: 120px;
}

.admin .menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.admin .menu ul li {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease;
}

.admin .menu ul li.active {
  background-color: #EEE;
}

.service-boxes {
  margin-top: 30px;
}

.loginpanel{
	width:100%;
  height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}
.logincard{
	background-color: white;
	border-radius: 8px;
	width:30vw;
	height:50vh;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 2px 0 rgba(204, 204, 204, 0.7);
}
form#loginform{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  background-color: #FFF;
  box-shadow: none;
}
form#loginform input{
  text-align: left;
  outline: 0;
	width:230px;
	height:30px;
	font-size: 15px;
	border-radius: 8px;
	border:1px solid #ccc;
	box-shadow: none;
	margin:5px;
	padding:5px 10px;
}

.cms {
  width: 80%;
  min-height: 100vh;
  margin-left: 20%;
  box-sizing: border-box;
  padding-top: 40px;
}

.cms h2.title {
  font-size: 28px;
  width: 100%;
  text-align: center;
}

.cms ul.artists,
.cms ul.news {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
}

.cms ul.artists li,
.cms ul.news li {
  min-height: 250px;
  width: 100%;
  background-color: color(#FFF a(0.8));
  list-style: none;
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
}

.cms ul.artists li img {
  min-width: 145px !important;
}

.cms ul li img {
  height: 200px;
  width: 140px;
  margin-right: 30px;
}

.cms ul.news li img {
  width: 240px;
  height: 170px;
}

.cms ul li .sq-pic {
  height: 100px;
}

.cms ul li label {
  margin: 5px 0;
  display: inline-flex;
}

.cms ul li input[type='text'] {
  border: 1px solid #66615B;
  height: 30px;
  width: 150px;
  border-radius: 3px;
  margin: 0 15px;
  font-size: 14px;
  padding: 0 5px;
  box-sizing: border-box;
  font-weight: normal;
}

.cms ul li label.intro {
  display: block;
  width: 100%;
}

.cms ul li label.intro input[type='text'] {
  width: 100%;
  display: block;
  margin: 10px 0;
}

.cms ul.news li label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.cms ul.news.add li label {
  display: inline-block;
  width: auto;
}


.cms ul.news.add li label:nth-child(3) {
  margin-right: 15px;
}

.cms ul.news.add li label:first-child,
.cms ul.news.add li label:nth-child(5) {
  display: block;
}

.cms ul.news.add li label:first-child input[type='text'],
.cms ul.news.add li label:nth-child(5) input[type='text'] {
  width: 500px;
}

.cms ul.news.add li label textarea {
  width: 550px;
}

.cms ul.news li label input[type='file'] {
  display: inline-block;
}

.cms select {
  margin-left: 10px;
}

.cms ul li label.title input[type='text'] {
  width: 350px;
}

.cms ul li label.textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.cms ul li label.textarea textarea {
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
  height: 100px;
  font-weight: normal;
}

.cms ul li input[type='file'] {
  margin-left: 10px;
}

.cms ul li input[type='submit'] {
  display: block;
  margin-top: 15px;
}

.cms .news textarea {
  display: block;
  width: 100%;
  min-width: 480px;
  margin-top: 5px;
  min-height: 250px;
  font-weight: normal;
}

.header .ads .slick-prev {
  left: 20px !important;
}

.header .ads .slick-prev:before,
.header .ads .slick-next:before {
  font-size: 26px !important;
}

.header .slick-prev:before,
.header .slick-next:before {
  font-size: 42px !important;
}

.header .ads .slick-next {
  right: 20px !important;
}

.header .slick-prev {
  left: 50px !important;
  z-index: 3;
  color: #FFF !important;
}

.header .slick-next {
  right: 60px !important;
  z-index: 3;
  color: #FFF !important;
}

.slick-next {
  right: -25px !important;
}

.slick-prev {
  left: -25px !important;
}

a:visited, a:focus, a:hover {
  color: inherit;
}

.hider {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid #AAA;
  padding:3px 6px;
  color: #AAA;
  cursor: pointer;
}

.cms ul.news li.just-youtube {
  min-height: auto;
  margin-bottom: 50px;
}

.cms ul.artists li.hiding {
  opacity: 0.5;
}
